
@{
    ViewBag.Title = "Slider İşlemleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("SliderKaydet", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3">
            Slider Başlık
            <input type="text" required name="Baslik" class="form-control" />
        </div>
        <div class="col-md-4">
            Slider Kısa Tanımı
            <input type="text" required name="Tanimlama" class="form-control" />
        </div>
        <div class="col-md-3">
            Fotoğraf Seçiniz
            <input type="file" required name="ResimYol" class="form-control" />
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" class="btn btn-primary" value="Kaydet" />
        </div>
    </div>
}



