@model IEnumerable<OtoServisPro.Entities.Web.Slider>
@{
    ViewBag.Title = "Slider İşlemleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("SliderKaydet", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3">
            Slider Başlık
            <input type="text" required name="Baslik" class="form-control" />
        </div>
        <div class="col-md-4">
            Slider Kısa Tanımı
            <input type="text" required name="Tanimlama" class="form-control" />
        </div>
        <div class="col-md-3">
            Fotoğraf Seçiniz
            <input type="file" required name="ResimYol" class="form-control" />
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" class="btn btn-primary" value="Kaydet" />
        </div>
    </div>
}
<hr />
<div class="row">
    <table class="table table-responsive" />
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ResimYol" width="200" />
                </td>
                <td>
                    @item.Baslik
                </td>
                <td>
                    @item.Tanimlama
                </td>
                <td>
                    <button type="button" onclick="silmodal(this)" class="btn btn-danger" data-bs-toggle="modal" data-id="@item.SliderId" data-bs-target="#SilModal">
                        Sil
                    </button>
                </td>
            </tr>
        }

</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="SilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Slider Silme İşlemi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek İstediğinize Emin Misiniz ?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("SliderSil", "Slider", FormMethod.Post))
                {
                    <input type="hidden" id="hiddenId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function silmodal(btn) {
            var xid = $(btn).data('id');
            $('#hiddenId').val(xid);
        }
    </script>
    }
