@model IEnumerable<OtoServisPro.Entities.Web.Uygulama>
@{
    ViewBag.Title = "Uygulamalar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("UygulamaKaydet", "Uygulama", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    // Kaydetme formu
    <div class="row">
        <div class="col">
            Başlık
            <input type="text" name="Baslik" class="form-control" required />

        </div>
        <div class="col-4">
            Resim
            <input type="file" name="Resim" class="form-control" required />

        </div>
        <div class="col-2">
            <br />
            <input type="submit" class="btn btn-primary" value="Kaydet" />
        </div>
    </div>
}

<hr />

<div class="row">
    <div class="col">
        <table class="table table-responsive">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Resim" width="200" />
                    </td>
                    <td>
                        @item.Baslik
                    </td>
                    <td>
                        <button type="button" onclick="silmodal(this)" class="btn btn-danger" data-bs-toggle="modal" data-id="@item.UygulamaId" data-bs-target="#SilModal">
                            Sil
                        </button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="SilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Uygulama Silme İşlemi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek İstediğinize Emin Misiniz ?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("UygulamaSil", "Uygulama", FormMethod.Post))
                {
                    <input type="hidden" id="hiddenId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function silmodal(btn) {
            var xid = $(btn).data('id');
            $('#hiddenId').val(xid);
        }
    </script>
}
