@model OtoServisPro.Entities.Web.Kampanya
@{
    ViewBag.Title = "Kampanya/Duyuru";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("KampanyaKaydet", "Kampanya"))
{
    <div class="row">
        <div class="col">
            @Html.EditorFor(model => model.Icerik, new { htmlAtributes = new { @class = "form-control" } })
            <input type="submit" class="btn btn-primary mt-2" value="Kaydet" />
        </div>
    </div>
}


